.navbarAnnouncement {
    background-color: red;
    text-align: center;
    
}

.navbar {
    padding: .3rem;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.18);

     .navItems{
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            font-weight: bold;
            font-size: 1.2rem;
        }
        
        .logo{
            width: 8rem;
        }
     }
}