.benefits {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #01B457;
    margin-top: 2rem;
   

    .benefit{
        padding: 1rem;
        margin-right: 3rem;
        &:hover {
            
            box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.45);

        }

        h2 {
            font-weight: bold;
            
        }

        h3{
            
            font-weight: 400;
        }
    }
}